<%
let subtaskType = {
  sum: 'Điểm mỗi test được cộng theo tỷ lệ phần trăm',
  min: 'Lấy điểm thấp nhất cho mỗi test',
  mul: 'Điểm mỗi test được nhân với tỷ lệ phần trăm'
};
%>
<% if (testcases && testcases.error) { %>
  <h4>Dữ liệu test lỗi：<%= testcases.error %></h4>
<%
} else if (testcases) {
%>
  <% if (testcases.spj) { %>
    <p>Phương pháp đánh giá：Special Judge</p>
  <% } else if (problem.type === 'interaction') { %>
    <p>Phương pháp đánh giá：Tương tác</p>
  <% } else { %>
    <p>Phương pháp đánh giá：So sánh văn bản</p>
  <% } %>
  <table class="ui celled table">
    <tbody>
      <% let i = 0; %>
      <% for (let subtask of testcases) { %>
        <% if (testcases.length !== 1) { %>
          <tr>
            <td style="background-color: #F9FAFB" colspan="<%= problem.type === 'submit-answer' ? 3 : 2 %>"><h4 style="margin-bottom: 3px; ">Subtask <%= ++i %></h4><span style="font-weight: normal; "><%= subtaskType[subtask.type] %>，Tổng điểm <%= subtask.score %></span></th>
          </tr>
        <% } else { %>
          <tr>
            <td style="background-color: #F9FAFB" colspan="<%= problem.type === 'submit-answer' ? 3 : 2 %>"><h4 style="margin-bottom: 3px; ">Subtask đơn</h4><span style="font-weight: normal; "><%= subtaskType[subtask.type] %></span></th>
          </tr>
        <% } %>
          <% for (let testcase of subtask.cases) { %>
            <% if (problem.type === 'submit-answer') { %>
              <tr class="center aligned">
                <td style="width: 33%; "><%= testcase.input || '-' %></td>
                <td style="width: 33%; "><%= testcase.output || '-' %></td>
                <td style="width: 33%; "><%= testcase.answer || '-' %></td>
              </tr>
            <% } else { %>
              <tr class="center aligned">
                <td style="width: 50%; "><%= testcase.input || '-' %></td>
                <td style="width: 50%; "><%= testcase.output || '-' %></td>
              </tr>
            <% } %>
          <% } %>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <h4 style="text-align: center; ">Không có dữ liệu test</h4>
<% } %>
